<h1>Channels#index</h1>
<ul>
  <% @channels.each do |channel| %>
    <li><%= link_to channel.name, team_channel_path(@team, channel) %></li>
  <% end %>
</ul>

<%= link_to 'New channel', new_team_channel_path(@team) %>